body{
	margin: 0;
	letter-spacing: 1px;
}
h1,p{
	margin-block-start: 0;
    margin-block-end: 0;
}
a{
	text-decoration: none;
}
input{
	font-size: 14px;
}
#container{
	width: 100%;
	min-width: 1500px;
}
#follow{
	position: fixed;
	width: 87px;
	height: 295px;
	right: 0;
	top: 444px;
	z-index: 1;
}
#header{
	height: 164px;
}

/*top*/
#top{
	padding: 0 138px; 
	height: 39px;
	background-color: #3d3d3d;
	display: flex;
	justify-content: space-between;
}
.top_text{
	color: white;
	display: inline-block;
	line-height: 39px;
	font-size: 18px;
}
.contact{
	font-family: Arial;
	margin-right:30px; 
}
#welcome{
	font-family: SourceHanSansCN,Arial;
	font-weight: bold;
	padding: inherit;
}
#login>a{
	font-family: SourceHanSansCN,Arial;
	font-weight: bold;  	
	margin-right: 20px;
}
#login>a:hover{
	color: #1ba19d;
}

#navigation{
	padding: 0 138px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	height: 131px;
}
#logo{
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.navig_text{
	font-family: SourceHanSansCN,Arial;
	font-weight: bold; 	
	font-size: 18px;
	letter-spacing: 1px;
}
#logo_text{
	margin-left: 19px;
}
#navig_list>a{
	color: black;
	margin-right: 26px;
}
#navig_list>a:hover{
	color: #1ba19d;
}
#navig_list>a.navig_active{
	color: #1ba19d;
}
#search{
	background-image: url("img/b1.jpg");
	background-size: 100% auto;
	width: 100%;
	height: 378px;
	background-repeat: no-repeat;
}
input[type='search']{
	width: 561px;
	height: 49px;
	padding: 18px 0 17px 15px;
	border:0;
	margin-top: 14px;
}
input[type="submit"]{
	font-family: SourceHanSansCN,Arial;
	font-weight: bold; 
	letter-spacing: 2px;
	width: 117px;
	/*background-color: #1ba19d;*/
	background-image: url("img/b2.png");
	color: white;
	height: 49px;
	border:0;
	cursor: pointer;
	padding-left: 37px;
}
#search ul{
	font-family: SourceHanSansCN,Arial;
	list-style-type: none;
	padding-left: 0;
	margin-top: 14px;
	margin-bottom: 0;
	color: white;
}
#form_search{
	height: 147px;
	margin: auto auto 45px auto;
}
li>a{
	font-family: SourceHanSansCN,Arial;
	color: white;
	font-size: 14px;
}
li>a:hover{
	color: #1ba19d;
}
/*更多资讯*/
#more_information{
	height: 415px;
	width: 100%;
	margin-top: 38px;
}
#content_title{
	font-family: SourceHanSansCN,Arial;
	font-size: 24.05px;
	color: #1ba19d;
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
	width: 100%;
}
#information_box-1{
	border-width: 3px 1px;
	border-color: #c6c6c6;
/*	border-style: solid;*/
	width: 154px;
	height: 205px;
	float: left;
	margin-left: 180px;
}
#information_box-1 ul{
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
#information_box-1 li{
	background: #3d3d3d;
	color: white;
	font-weight: bold;
	font-size: 17.6px;
	line-height: 49px;
	height: 49px;
	border-style: solid;
	border-color :#c6c6c6; 
	border-width: 3px 0 0 1px;
}
#information_box-1 li>a{
	font-size: 17.6px;
}
#information_box-1 .act{
	background: white;
	font-weight: bold;
	font-size: 17.6px;
	line-height: 49px;
	height: 49px;
	border-style: solid;
	border-color :#c6c6c6; 
	border-width: 3px 0 0 1px;
}
#information_box-1 .act>a{
	color: #3d3d3d;
}
#information_box-1 .act>a:hover{
	color: #1ba19d;
}
#information_box-2{
	border-width: 3px 3px 3px 1px;
	border-color: #c6c6c6;
	border-style: solid;
	width: 930px;
	height: 298px;
	float: left;
	/*display: flex;
	flex-wrap: wrap;*/
}
.inform-content-left{
	margin-left: 39px;
	margin-top: 16px;
	width: 446px;
	height: 116px;
	position: relative;
}
.inform-content-right{
	position: relative;
	margin-top: 16px;
	width: 445px;
	height: 116px;
}
.inform-text{
	margin-left: 175px;
	width: 215px;
	font-size: 12.32px;
	letter-spacing: 0;
}
.inform-a{
	position: absolute;
	bottom: 7px;
	right: 48px;
}
.inform-a>a{
	font-family: SourceHanSansCN,Arial;
	color: #1ba19d;
	font-size: 10.56px;
}
.inform-a>a:hover{
	color: #1ba19d;
}
#jianduan{
	 display: flex;
	 flex-wrap: wrap;
}
/*底部*/
#footer{
	width: 1092px;
	height: 181px;
	margin-left: 180px;
	margin-bottom: 66px;
	display: flex;
	border-top: solid 2px #3d3d3d; 
}
#footer_left,#footer_right{
	width: 50%;
	height: 181px;
	display: flex;
	flex-wrap: wrap;
}
#footer_right{
	background-color: #3d3d3d;
}
.footer-left,.footer-right{
	height: 50%;
	width: 50%;
	display: flex;
	align-items: center;
}
.footer-text{
	margin-left: 16px;
}
.footer-text-big{
	font-size: 22px;
	font-weight: bold;
}
.footer-text-small{
	font-size: 12px;
}
.footer-left p{
	color: #484848;
}
.footer-right p{
	color: white;
}
